/* Header */
header {
  width: 100%;
  height: auto;
  padding: 10px 50px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  justify-content: space-between;
}
header .options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Main */
main {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(237,237,237);
  background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 35%, rgba(196,196,196,1) 100%);
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .group2 {
  width: 600px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-dark);
}
footer p {
  color: var(--color-dark);
}