:root {
  --font-text: "Tilt Neon", cursive;
  --font-title: "Gagalin";
  --color-dark: #202020;
  --color-light: #ededed;
  --color-yellow: #c2b500;
  --color-yellow-active: #9e9402;
}

.font-title {
  font-family: var(--font-title);
}

/* Fonts */
@font-face {
  font-family: "Gagalin";
  src: url(../fonts/gagalin.otf);
}
