<!DOCTYPE html>
<html lang="es">
<head>
  <title>App Tasks | Expess JS</title>

  <%- include('partials/head') %>

  <link rel="stylesheet" href="/styles/dashboard.css">
<body>
  <header>
    <div>

    </div>
    <div class="options">
      <a href="/logOut" class='line_hover'><span><i class="fa-solid fa-right-from-bracket"></i> LogOut</span></a>
    </div>
  </header>

  <main>

  </main>

  <footer>
    <%- include('partials/footer_main') %>
  </footer>

  <!-- Scripts -->
  <%- include('partials/scripts') %>
</body>
</html>