<!DOCTYPE html>
<html lang="es">
<head>
  <title>App Tasks | Expess JS</title>

  <%- include('partials/head') %>

<body class="w-full h-full bg-gradient-to-r from-white-primary to-gray-primary">
  <header class="w-full">
    <%- include('partials/header_main') %>
  </header>

  <main class="w-full min-h-screen bg-gradient-to-r from-white-primary to-gray-primary animate-fade py-[100px] flex justify-center items-center">
    <div class="max-w-[500px] bg-white p-5 shadow-lg rounded-lg flex flex-col justify-center items-center gap-4">
      <div>
        <h2 class="text-3xl">App Tasks built with Expess JS!</h2>
      </div>
      <div>
        <div>
          <p>Bienvenido a RestAPI en ExpressJS, tu puente seguro para la transferencia de datos en entornos web construidos sobre la potente plataforma ExpressJS. Esta API ha sido meticulosamente diseñada para ofrecer una conectividad segura y eficiente entre tus aplicaciones, aprovechando la flexibilidad y robustez de ExpressJS.</p>
        </div>
      </div>
      <div>
        <a href="/register" class="btn btn-dark">Get started <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </main>

  <footer class="w-full h-auto bg-black flex flex-col justify-center items-center text-white relative z-20">
    <%- include('partials/footer_main') %>
  </footer>

  <!-- Scripts -->
  <%- include('partials/scripts') %>
</body>
</html>