<!DOCTYPE html>
<html lang="es">
<head>
  <title>App Tasks | Expess JS</title>

  <%- include('partials/head') %>

  <link rel="stylesheet" href="/styles/index.css">
<body>
  <header>

  </header>

  <main>
    <div class="card">
      <div class="card_header">
        <h2 class="title">App Tasks built with <a href="https://expressjs.com" target="_blank" class="line_hover"><span class="title">Expess JS!</span></a></h2>
      </div>
      <div class="card_body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit in, vel aliquam libero totam atque eveniet praesentium! Asperiores quidem ipsam, at repudiandae voluptatum vitae fugit beatae aperiam veritatis, ullam dolores odit saepe alias, quis nesciunt. Assumenda laudantium saepe nihil minus quaerat laboriosam, quis adipisci sint. Eligendi, illo ad. Explicabo, nihil!
          </p>
        </div>
        <div>
          <img src="/images/app-tasks-preview.png" alt="App Tasks Preview">
        </div>
      </div>
      <div class="card_footer">
        <a href="/register" class="btn btn-dark">Get started <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </main>

  <footer>

  </footer>

  <!-- Scripts -->
  <%- include('partials/scripts') %>
</body>
</html>