<!DOCTYPE html>
<html lang="es">
<head>
  <title>App Tasks | Expess JS</title>

  <%- include('partials/head') %>

  <link rel="stylesheet" href="/styles/login.css">
<body>
  <header class="w-full">
    <%- include('partials/header_main') %>
  </header>

  <main class="w-full min-h-screen flex justify-center items-center bg-gradient-to-r from-white-primary to-gray-primary animate-fade">
    <div class="card">
      <form action="/login" method="post">
        <div>
          <h2 class="text-4xl font-title">Login in your account!</h2>
        </div>
        <div class="inputs">
          <div class="group_inputs">
            <div>
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div>
              <input type="text" name="email" placeholder="Email:" class="input-lg">
            </div>
          </div>
          <div class="group_inputs">
            <div>
              <i class="fa-solid fa-lock"></i>
            </div>
            <div>
              <input type="password" name="password" id="password" placeholder="Password:" class="input-lg">
            </div>
            <div>
              <button class="btn btn-dark btn-sm" type="button" onclick="showPassword()" id="btnPassword"><i class="fa-solid fa-eye"></i></button>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-dark"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div>
            <p>Or register as a new account <i class="fa-solid fa-arrow-turn-down"></i></p>
          </div>
          <div>
            <a href="/register" class="btn btn-dark btn-sm"><i class="fa-solid fa-right-to-bracket"></i> Register</a>
          </div>
        </div>
      </form>
    </div>
  </main>

  <footer class="w-full h-auto bg-black flex flex-col justify-center items-center text-white relative z-20">
    <%- include('partials/footer_main') %>
  </footer>

  <!-- Scripts -->
  <%- include('partials/scripts') %>
</body>
</html>