<div>
  <h1 class="title">APP TASKS by <a href="https://github.com/fermeridamagni" target="_blank" class="line_hover"><span class="title">@fermeridamagni</span></a></h1>
</div>
<div class="options">
  <a href="/login" class="line_hover"><span><i class="fa-solid fa-right-to-bracket"></i> Login</span></a>
  <a href="/register" class="line_hover"><span><i class="fa-solid fa-right-to-bracket"></i> Register</span></a>
</div>