<header
  class="w-full min-h-[100px] h-auto flex flex-row fixed justify-between gap-4 py-6 px-8 z-30 backdrop-blur-sm bg-gradient-to-r from-white-primary/90 to-gray-primary/90"
>
  <div class="h-auto">
    <a
      href="https://magnideveloper.com"
      class="flex flex-row gap-3 items-center"
    >
      <div>
        <img
          alt="icon"
          src="/images/logo_black.png"
          class="w-[50px] h-[50px]"
        />
      </div>
      <div class="hidden sm:block">
        <h1 class="text-3xl text-black z-40">Magni Developer</h1>
      </div>
    </a>
  </div>
  <div class="flex flex-row gap-5">
    <div>
      <a
        href="/register"
        class="btn btn-dark"
        >Register <i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
    <div>
      <a

        href="/login"
        class="btn btn-dark"
        >Login <i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
  </div>
</header>
